.logo {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 3.85em;
  height: auto;
  margin: 0px;
  z-index: 999;
}

.arrow {
  --arrow-side-padding: 20px;
  --arrow-size-after-scroll: clamp(50px, 4.95vw, 95px);
  --arrow-bottom-offset: 30px;
  --arrow-aspect-factor: calc(25 / 95);
  --arrow-final-top: calc(100vh - var(--arrow-bottom-offset) - calc(var(--arrow-size-after-scroll) * var(--arrow-aspect-factor)));

  position: fixed;
  left: 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 95 / 50;
  transform: translateX(-50%);
  z-index: 0;
  pointer-events: none;
  will-change: transform, width, top;
  animation: arrow-animation linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 100vh;
}

@keyframes arrow-animation {
  from {
    width: calc(100% - calc(var(--arrow-side-padding) * 2));
    top: 50vh;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    width: var(--arrow-size-after-scroll);
    top: var(--arrow-final-top);
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@media screen and (max-width: 800px) {
  .logo { display: none; }

  .arrow {
    --arrow-side-padding: 10px;
    --arrow-size-after-scroll: 95px;
    --arrow-final-top: 620px;
    animation-name: arrow-animation-mobile;
  }
  @keyframes arrow-animation-mobile {
    from {
      width: calc(100% - calc(var(--arrow-side-padding) * 2));
      top: calc(50vh - 50px);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      width: var(--arrow-size-after-scroll);
      top: var(--arrow-final-top);
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
